venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.~lock*
analysis_output/
analysis_files/
cleaned_evaluations/
.ipynb_checkpoints/
.ipynb_checkpoints/Infer on new scans.final-checkpoint.ipynb
.ipynb_checkpoints/New evaluation-checkpoint.ipynb
